.note {
  width: 152px;
  height: 120px;
  background-color: rgb(149, 243, 243);
  margin: 15px 30px 15px 0px;
  border-radius: 10%;
}

.note .upperIcons{
  height: 10%;
  border-radius: 10%;
}

.note .text{
  height: 80%;
  border-radius: 10%;
  width: 90%;
  margin-top: 0px !important;
  background-color: rgb(240, 198, 225);
  margin-left: 5%;
  text-align: center;
  font-size: small;
}


.note .lowerIcons{
  height: 10%;
  border-radius: 10%;
}
.closeIcon {
  font-size: 16px !important;
  position: relative;
  float: right;
  top: -8px;
  right: -8px;
  color: #d10404;
  background: white;
  border-radius: 50%;
}

.closeIcon :hover {
  cursor: pointer;
}

/* .sendNoteIcon {
     float: right;
} */

.saveNoteIcon {
  font-size: 21px !important;
  float: left;
  position: relative;
  left: -12.5px;
  top: -4.5px;
  border-radius: 50%;
  color: green;
  background: white;
  border: solid white 2px;
}

.deleteNoteIcon {
  font-size: 21px !important;
  float: right;
  position: relative;
  top: -12.5px;
  right: -37.5px;
  color: #d10404;
  background: white;
  border-radius: 50%;
  border: solid white 2px;
}

.editNoteIcon {
  font-size: 21px !important;
  float: left;
  position: relative;
  top: -1.5px;
  right: 9.5px;
  background: white;
  border-radius: 50%;
  border: solid white 2px;
}

.sendNoteIcon {
  font-size: 21px !important;
  float: right;
  position: relative;
  top: -14.5px;
  right: 16.5px;
  color: blue;
  background: white;
  border-radius: 50%;
  border: solid white 2px;
}

.senderName {
  border: solid white 2px;
  float: right;
  position: relative;
  right: -87.5px;
  top: 87.5px;
  background: white;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  text-align: center;
}

.senderName:hover {
  width: 120px;
  border-radius: 10px;
  right: -10px;
  top: 62.5px;
  text-align: left;
  padding-left: 5px;
}
