
 .note{
    width: 152px;
    height: 100px;
    background-color:rgb(128, 184, 230);
    margin: 2px;
    overflow: hidden;
}

button{
     background-color: black;
     color: white;
     float:right;
}

#delete{
     margin: 1px;
}

#send{
     margin: 1px;
     background-color: green;
     color: black
}