.note {
  width: 152px;
  height: 120px;
  background-color:  #2069f1;
  margin: 15px 30px 15px 0px;
  border-radius: 10%;
}

.note .upperIcons{
  height: 10%;
  text-align: right;
}

.note .text{
  height: 80%;
  border-radius: 10%;
  width: 90%;
  margin-top: 0px !important;
  background-color: #2069f1;
  margin-left: 5%;
  color:black;
}


.note .lowerIcons{
  height: 10%;
}

.noteIcons {
  font-size: 21px !important;
  border-radius: 50%;
  background: white;
  border: solid white 2px;
  visibility: hidden;
}

.note:hover .noteIcons {
  visibility: visible;
}

.lowerIcons .noteIcons {
  position: relative;
  left: -12.5px;
}

.upperIcons .noteIcons {
  position: relative;
  right: -12.5px;
  top: -12.5px;
}

#saveNoteIcon {
  color: green;
}

#cancelEditIcon, #deleteNoteIcon {
  color: #d10404;
}

#sendNoteIcon {
  color: blue;
}

.senderName{
    width: 12.5px;
    height: 12.5px;
    float: right;
    position: relative;
    top: -2.5px;
    right: -0.5px;
    overflow: hidden;
    text-transform: capitalize;
    border-radius: 50%;
    background-color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 1px;
}

.note:hover .senderName{
  width: 70px;
  overflow: visible;
  border-radius: 20%;
}

.note .Mui-disabled {
  -webkit-text-fill-color: white !important;
  opacity: 1 !important;
}