#sessionWindow {
    height: 92vh;
    display: flex;
    overflow-y: scroll;
}

#createInstance {
    width: 50%;
    height: 100%;
    text-align: center;
    min-width: 30%;
}

#createInstance #button {
    margin-top: 41vh;
}

#instanceName{
    padding: 10px;
}

#instanceName #addInstance{
    margin-left: 3px;
}