.workingArea {
  width: 65%;
  text-align: center;
  padding: 7%;
}

.displayArea {
  width: 35%;
}

#startPage {
  display: flex;
  min-height: 80vh;
}

.ideatitle {
  text-shadow: 2px 10px 3px rgb(0, 153, 255);
  font-size: 45px;
  font-family: "Lucida Sans";
  font-style: oblique;
}

.session {
  width: 93%;
  margin: 4vh;
  padding-top: 5px;
}

#startPage .name {
  margin-top: 3vh;
}

.newSession {
  width: 43%;
  float: left;
  margin-left: 46px;
  margin-top: 42px;
}

.existingSession {
  width: 50%;
  float: left;
  border-left: 3px solid black;
}


.sessionInput {
  margin-right: 76px;
  max-height: 39px;
}

.joinSession {
  margin-right: 165px;
  margin-top: 0px;
}

