.workingArea {
  width: 65%;
  text-align: center;
  padding: 7%;
}

.displayArea {
  width: 35%;
}

#startPage {
  display: flex;
  min-height: 80vh;
}

.workingArea .ideatitle {
  text-shadow: 2px 10px 3px rgb(0, 153, 255);
  font-size: 45px;
  font-family: "Lucida Sans";
  font-style: oblique;
}

.workingArea .session {
  margin: 3vh;
  padding-top: 5px;
  display: flex;
}

.workingArea .name {
  margin-top: 6vh;
}

.workingArea .session .newSession {
  width: 47%;
  margin-top: 3px;
  margin-left: -50px;
}

.workingArea .session .existingSession {
  width: 47%;
}

.workingArea .session .image{
  width: 6%;
}

.sessionInput {
  margin-right: -107px;
  margin-bottom: 3vh;
  margin-top: 3px;
}

.joinSession {
  margin-right: -106px;
}
