.navBar {
  height: 8vh;
  background-color: black;
}

.navBar .title {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 225, 255);
  font-size: 22px;
}