.navBar {
  height: 8vh;
  background-color:black;
  display: flex;
}

.navBar .title {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 22px;
}

.navBar .empty{
  width: 60%;
  height: 100%;
}
.navBar .members{
  width:5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #2069f1;
  /* background-color: #0000FF; */
}




